{% extends 'main/layout.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'splide/css/splide.min.css' %}">
<link rel="stylesheet" href="{% static 'splide/css/themes/splide-skyblue.min.css' %}">
{% endblock %}
{% block title %}{{ order.posting.title }} | AWS Marketplace{% endblock %}
{% block content %}
<div class="border-bottom bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <nav class="m-0 py-2" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="m-0 breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'marketplace:buying_wishlist' %}">Buying</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'marketplace:buying_orders' %}">Orders</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ order.posting.title }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-4">
    <div class="row">
        <div class="col-sm-12 col-md-5">
            <div id="ui-product-gallery" class="sticky-top mb-4" style="top: 5rem;">
                <div id="main-slider" class="splide mb-2">
                    <div class="splide__track">
                        <ul class="splide__list">
                            {% if images|length > 0 %}
                                {% for image in images %}
                                    <li class="splide__slide">
                                        <div class="image">
                                            <img class="img-background" src="{{ image.image.url }}">
                                            <img class="img-foreground" src="{{ image.image.url }}">
                                        </div>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <li class="splide__slide">
                                    <div class="image">
                                        <img class="img-background" src="{% static 'main\img\item-sale.jpg' %}">
                                        <img class="img-foreground" src="{% static 'main\img\item-sale.jpg' %}">
                                    </div>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div id="thumbnail-slider" class="splide mb-4">
                    <div class="splide__track">
                        <ul class="splide__list">
                            {% if images|length > 0 %}
                                {% for image in images %}
                                    <li class="splide__slide">
                                        <img class="img-fluid foreground-image shadow-lg"
                                        src="{{ image.image.url }}">
                                    </li>
                                {% endfor %}
                            {% else %}
                                <li class="splide__slide">
                                    <img class="img-fluid foreground-image shadow-lg"
                                        src="{% static 'main\img\item-sale.jpg' %}">
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-7">
            {% if order.status == 0 %}
                <div class="alert alert-secondary d-flex" role="alert">
                    <div class="flex-shrink-0">
                        <i class="fas fa-shopping-basket fa-3x"></i>
                    </div>
                    <div class="flex-grow-1 px-3">
                        <h4>Order Details</h4>
                        <p class="mb-2">Order placed on {{ order.created_at|date:'DATETIME_FORMAT' }}</p>
                        <p class="m-0">
                            <span class="badge bg-secondary text-uppercase me-3">{{ order.get_status_display }}</span><span>Seller is checking and preparing your order.</span>
                        </p>
                    </div>
                    <div class="flex-shrink-0">
                        <button class="btn btn-danger btn-lg" data-bs-toggle="modal" data-bs-target="#confirmCancelOrderModal"><i class="far fa-trash-alt me-2"></i>&nbsp;Cancel Order</button>
                    </div>
                </div>
            {% elif order.status == 1 %}
                <div class="alert alert-info d-flex" role="alert">
                    <div class="flex-shrink-0">
                        <i class="fas fa-shopping-basket fa-3x"></i>
                    </div>
                    <div class="flex-grow-1 px-3">
                        <h4>Order Details</h4>
                        <p class="mb-2">Order placed on {{ order.created_at|date:'DATETIME_FORMAT' }}</p>
                        <p class="mb-2">Order updated on {{ order.updated_at|date:'DATETIME_FORMAT' }}</p>
                        <p class="m-0">
                            <span class="badge bg-info text-dark text-uppercase me-3">{{ order.get_status_display }}</span><span>Seller has packed your item.</span>
                        </p>
                    </div>
                </div>
            {% elif order.status == 2 %}
                <div class="alert alert-primary d-flex" role="alert">
                    <div class="flex-shrink-0">
                        <i class="fas fa-shopping-basket fa-3x"></i>
                    </div>
                    <div class="flex-grow-1 px-3">
                        <h4>Order Details</h4>
                        <p class="mb-2">Order placed on {{ order.created_at|date:'DATETIME_FORMAT' }}</p>
                        <p class="mb-2">Order updated on {{ order.updated_at|date:'DATETIME_FORMAT' }}</p>
                        <p class="m-0">
                            <span class="badge bg-primary text-uppercase me-3">{{ order.get_status_display }}</span><span>Seller has shipped your item through a courier.</span>
                        </p>
                    </div>
                </div>
            {% elif order.status == 3 %}
                <div class="alert alert-success d-flex" role="alert">
                    <div class="flex-shrink-0">
                        <i class="fas fa-shopping-basket fa-3x"></i>
                    </div>
                    <div class="flex-grow-1 px-3">
                        <h4>Order Details</h4>
                        <p class="mb-2">Order placed on {{ order.created_at|date:'DATETIME_FORMAT' }}</p>
                        <p class="mb-2">Order updated on {{ order.updated_at|date:'DATETIME_FORMAT' }}</p>
                        <p class="m-0">
                            <span class="badge bg-success text-uppercase me-3">{{ order.get_status_display }}</span><span>Item has been delivered.</span>
                        </p>
                    </div>
                </div>
            {% elif order.status == 81 %}
                <div class="alert alert-danger d-flex" role="alert">
                    <div class="flex-shrink-0">
                        <i class="fas fa-shopping-basket fa-3x"></i>
                    </div>
                    <div class="flex-grow-1 px-3">
                        <h4>Order Details</h4>
                        <p class="mb-2">Order placed on {{ order.created_at|date:'DATETIME_FORMAT' }}</p>
                        <p class="m-0">
                            <span class="badge bg-danger text-uppercase me-3">{{ order.get_status_display }}</span><span>You have cancelled this order on {{ order.updated_at|date:'DATETIME_FORMAT' }}</span>
                        </p>
                    </div>
                </div>
            {% elif order.status == 82 %}    
                <div class="alert alert-danger d-flex" role="alert">
                    <div class="flex-shrink-0">
                        <i class="fas fa-shopping-basket fa-3x"></i>
                    </div>
                    <div class="flex-grow-1 px-3">
                        <h4>Order Details</h4>
                        <p class="mb-2">Order placed on {{ order.created_at|date:'DATETIME_FORMAT' }}</p>
                        <p class="m-0">
                            <span class="badge bg-danger text-uppercase me-3">{{ order.get_status_display }}</span><span>Sorry, the seller has cancelled this order on {{ order.updated_at|date:'DATETIME_FORMAT' }}</span>
                        </p>
                    </div>
                </div>
            {% endif %}
            <h3>{{ order.posting.title }}</h3>
            <h2><strong>&#8369;{{ order.posting.price|floatformat:"2g" }}</strong></h2>
            <p>Listed {{ order.posting.created_at|date }}</p>
            <hr class="my-4" />
            <h4 class="my-4">Specifications</h4>
            <div class="row row-cols-3">
                <div class="col">
                    <p class="m-0"><strong><small>Condition</small></strong></p>
                    <p>{{ order.posting.get_condition_display }}</p>
                </div>
                <div class="col">
                    <p class="m-0"><strong><small>Manufacturer</small></strong></p>
                    <p>{{ order.posting.manufacturer }}</p>
                </div>
                <div class="col">
                    <p class="m-0"><strong><small>Model Na</small>me</strong></p>
                    <p>{{ order.posting.model_name }}</p>
                </div>
                <div class="col">
                    <p class="m-0"><strong><small>Length</small></strong></p>
                    <p>{{ order.posting.length_cm }}&nbsp;cm</p>
                </div>
                <div class="col">
                    <p class="m-0"><strong><small>Width</small></strong></p>
                    <p>{{ order.posting.width_cm }}&nbsp;cm</p>
                </div>
                <div class="col">
                    <p class="m-0"><strong><small>Height</small></strong></p>
                    <p>{{ order.posting.height_cm }}&nbsp;cm</p>
                </div>
            </div>
            <hr class="my-4" />
            <h4 class="my-4">Seller Information</h4>
            <div class="card bg-light my-4" style="transform: rotate(0);">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            {% if order.posting.created_by.userprofile %}
                                <img src="{{ order.posting.created_by.userprofile.display_image.url }}" class="img-thumbnail rounded-circle"
                                style="min-height: 100px; min-width: 100px; max-height: 100px; max-width: 100px;" />
                            {% else %}
                                <img src="{% static 'main\img\628287_person_default_head_avatar_anonym_user_unknown.png' %}" class="img-thumbnail rounded-circle"
                                style="min-height: 100px; min-width: 100px; max-height: 100px; max-width: 100px;" />
                            {% endif %}
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <a class="text-decoration-none link-dark stretched-link" href="{% url 'marketplace:user_seller_profile' order.posting.created_by.id %}"><strong>{{ order.posting.created_by.first_name }}&nbsp;{{ order.posting.created_by.last_name }}</strong></a>
                            <br>
                            <small class="text-muted">@{{ order.posting.created_by.username }}</small><br>
                            <small class="text-muted">Joined Marketplace in {{ order.posting.created_by.date_joined|date:'Y' }}</small>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-4" />
            <h4 class="my-4">Description</h4>
            <p>{{ order.posting.description }}</p>
            <hr class="my-4"" />
            <h4 class="my-4">Checkout Options</h4>
            <div class="row row-cols-3">
                <div class="col">
                    <p class="m-0"><strong><small>Meetup</small></strong></p>
                    <p>
                        {% if order.posting.can_meetup %}
                        <span class="text-success"><i class="fas fa-check-circle"></i></span>&nbsp;Yes
                        {% else %}
                        <span class="text-danger"><i class="fas fa-times-circle"></i></span>&nbsp;No
                        {% endif %}
                    </p>
                </div>
                <div class="col">
                    <p class="m-0"><strong><small>Delivery</small></strong></p>
                    <p>
                        {% if order.posting.can_deliver %}
                        <span class="text-success"><i class="fas fa-check-circle"></i></span>&nbsp;Yes
                        {% else %}
                        <span class="text-danger"><i class="fas fa-times-circle"></i></span>&nbsp;No
                        {% endif %}
                    </p>
                </div>
                <div class="col">
                    <p class="m-0"><strong><small>Address</small></strong></p>
                    <p class="m-0">{{ order.posting.address }}</p>
                    <p>{{ order.posting.postal_code }}</p>
                </div>
            </div>
        </div>
    </div>
    {% if order.status == 0 %}
    <div class="modal fade" id="confirmCancelOrderModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmCancelOrderModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="post" action="{% url 'marketplace:buying_order_cancel' order.pk %}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmCancelOrderModalLabel">Cancel Order</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="lead">{{ order.posting.title }}</p>
                        <p>Are you sure you want to cancel this order?</p>
                        <p>This will notify the seller that you are not interested in this item anymore.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-lg">
                            <i class="fas fa-times-circle"></i>
                            Cancel Order
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'splide/js/splide.min.js' %}"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var main = new Splide( '#main-slider', {
            type       : 'fade',
            cover      : false,
            rewind     : true,
            pagination : false,
            arrows     : false,
        });
        var thumbnails = new Splide( '#thumbnail-slider', {
            fixedWidth   : 60,
            fixedHeight  : 60,
            gap          : 10,
            autoplay     : true,
            rewind       : true,
            pagination   : false,
            cover        : true,
            isNavigation : true,
            focus        : 'center',
            breakpoints: {
                600: {
                    fixedWidth : 44,
                    fixedHeight: 44,
                },
            },
        });
        main.sync( thumbnails );
        main.mount();
        thumbnails.mount();
    });
</script>
{% endblock %}