{% load static %}
<!-- FOOTER -->
<footer class="bg-dark text-light m-0">
    <div class="container py-4">
        <div class="row">
            <div class="col-4">
                <img src="{% static 'main/img/logo.png' %}" alt="" style="max-height: 64px;">
                <p class="m-0">&copy; 2021 Advanced World Systems, Inc.</p>
            </div>
            <div class="col-8">
                <div class="row row-cols-4">
                    <div class="col">
                        <h5 class="text-white">Support</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">Help Centre</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <h5 class="text-white">Marketplace</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">Jobs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">Press</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <h5 class="text-white">Social</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">Advertise with Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">Affiliate Program</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">Community Events</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <h5 class="text-white">Legal</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">Terms of Service</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row mt-4">
            <div class="col text-center">
            <a href="#" class="ui-link-no-underline text-white">Back to top</a>
            </div>
        </div>
    </div>
</footer>